[
    {mnesia, [{dump_log_write_threshold, 1000}]},
    {rabbit, [ {auth_mechanisms, ['PLAIN', 'AMQPLAIN', 'EXTERNAL']},
               {default_vhost, <<"instancename">>},
               {default_user, <<"admin">>},
               {default_pass, <<"password">>},
               {default_permissions, [<<".*">>, <<".*">>, <<".*">>]},
               {tcp_listeners, [5672]}, 
               {ssl_listeners, [5673]},
               {ssl_options, [
                    {cacertfile,"/var/lib/rabbitmq/instancename/etc/cacert.pem"},
                    {certfile,"/var/lib/rabbitmq/instancename/etc/hostcert.pem"},
                    {keyfile,"/var/lib/rabbitmq/instancename/etc/hostkey.pem"},
                    {verify,verify_peer},
                    {fail_if_no_peer_cert,true}]}
    ] },

%%% Management
{rabbitmq_mochiweb, [{listeners, [
                                  {'*',  [{port, 5680}]},
                                  {mgmt, [{port, 5680}]}
                                 ]}

%% mgmt, api and cli interfaces could be put all in different ports
%% 
%%                      {contexts,  [{rabbit_mgmt,     mgmt},
%%                                   {rabbit_mgmt_api, mgmt},
%%                                   {rabbit_mgmt_cli, mgmt}]}
                    ]},

%% http log path
%%    {rabbitmq_management, [ {http_log_dir, "/tmp/rabbit-mgmt-1"} ] },
%% rate statistics, if not specified enabled by default 5-10% cpu impact: http://www.rabbitmq.com/management.html
%%    {rabbitmq_management_agent, [ {force_fine_statistics, true} ] },

%%% STOMP
    {rabbitmq_stomp, [{tcp_listeners, [61613]},
                      {ssl_listeners, [61612]}]}
].
